<html>
    <head>
        <script src="./qrcode.js" type="text/javascript"></script>
        <link href="./styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div id="qrcode-container">
            <span>Scan this QR code with your phone.</span>
            <div id="qrcode"></div>
            <span>{{url}}</span>
            <span style="padding-top: 8px;">Please make sure that Expo Go is installed in your phone.</span>
        </div>
        <script type="text/javascript">
            new QRCode(document.getElementById("qrcode"), "{{url}}");
        </script>
    </body>
</html>